

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;1,200&family=Hubballi&family=Merienda:wght@400;700&family=Playfair+Display&family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');



body {
  margin: 0;
  padding: 0;
  background:#000000;
  color:white;
}




.wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000; 
}

.txt {
  color: #ffffff;
  letter-spacing: 3px;
  background:#000000;
  font-size:44px;
  font-weight: bold;
  font-family: Arial;
  text-transform: uppercase;
}
.txt::before {
  content: 'isha';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(2px);
}
.neon-wrapper {
  display:inline-flex;
  filter: brightness(200%);
  overflow: hidden;
}
.gradient{
  background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  mix-blend-mode: multiply;
}
.dodge {
  background: radial-gradient(circle,white,black 35%) center / 10% 20%;
  position: absolute;
  top:-100%;
  left:-100%;
  right:0;
  bottom:-10px;
  mix-blend-mode: color-dodge;
  animation: dodge-area 15s linear infinite;
}
@keyframes dodge-area {
  to {
      transform: translate(50%,50%);
  }
}

/* navlinks */



.nav-item:first-child{
  border-bottom: 1px solid blueviolet;
}

.nav-link:hover{
    border-top: 1px solid blueviolet;
  border-bottom: 1px solid blueviolet;
  color: blueviolet 
}
.nav-link:hover ion-icon{
  color: blueviolet 
}



